:root {
  --primary-color: #008000;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: sans-serif;
 outline: none;
}

body {
 background-color: #ddd;
}

.header {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: #fff;
 padding: 30px;
}

button.primary {
 border: none;
 background-color: var(--primary-color);
 color: #fff;
 font-size: 1rem;
 padding: 9px 22px;
 border-radius: 6px;
 cursor: pointer;
}

.create,
.edit,
.delete {
 width: 100%;
 margin-bottom: 10px;
}

.delete {
 background-color: #ff1b1b;
 border: none;
 color: #fff;
 font-size: 1rem;
 padding: 9px 22px;
 border-radius: 6px;
 cursor: pointer;
}

.container {
 display: flex;
 gap: 30px;
 justify-content: center;
 align-items: center;
 height: 100vh;
}

.container .column {
 width: 90%;
 height: 600px;
 background: #fff;
 overflow: hidden;
 border-radius: 10px;
}

.container .column .head {
 background-color: var(--primary-color);
 color: #fff;
 padding: 15px;
 text-align: center;
}

.container .column .body {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 20px;
 padding: 30px;
}

.container .column .body .card {
 background-color: #eee;
 border-radius: 7px;
 padding: 10px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 width: 100%; 
 height: 100%; 
}

.container .column .body .card .info {
 font-size: 14px;
 color: #333;
 display: flex;
 flex-direction: column;
}

#modal {
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background-color: rgba(0, 0, 0, 0.5);
 display: flex;
 justify-content: center;
 align-items: center;
 display: none;
}

#modal .box {
 background-color: #fff;
 width: 400px;
 border-radius: 7px;
 overflow: hidden;
}

#modal .box .head {
 display: flex;
 justify-content: space between;
 padding: 10px 20px;
 border-bottom: 1px solid #ddd;
}

#modal .box .head span {
 font-size: 18px;
 font-weight: 700;
 color: #333;
}

#modal .box .head button {
 border: none;
 background: none;
 font-size: 22px;
 font-weight: 700;
 cursor: pointer;
 color: #333;
}

#modal .box .form {
 padding: 20px;
}

#modal .box .form .form-group {
 margin-bottom: 15px;
}

#modal .box .form label {
 display: block;
 font-size: 14px;
 color: #333;
 margin-bottom: 5px;
}

#modal .box .form textarea,
#modal .box .form select,
#modal .box .form input {
 width: 100%;
 border-radius: 7px;
 font-size: 14px;
 border: 1px solid #999;
 color: #333;
}

#modal .box .form textarea {
 padding: 10px 15px;
}

#modal .box .form select,
#modal .box .form input {
 padding: 10px;
}
